.bio-column {
background-color: rgb(160, 158, 160);
}
body{
  background-color: rgb(22, 73, 99);
}

.text-center{
  font-family: Georgia, serif;
  color: rgb(5, 5, 7)
  
}
img {  
  max-width: 100%;  
  height: auto;  
  padding-top: 15%;
}